@import './typography';
@import '../utilities/variables';

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Inter', sans-serif;
  color: $color-black;
}

body.dark-theme {
  background-color: $color-darkgrey;
}

.container {
  max-width: 375px;
  margin: 0 auto;
  padding: 0 20px;

  @media screen and (min-width: $tablet) {
    max-width: 768px;
    padding: 0 32px;
  }

  @media screen and (min-width: $desktop) {
    max-width: 1280px;
    padding: 0 100px;
  }
}

.section {
  padding: 40px 0;

  @media screen and (min-width: $tablet) {
    padding: 64px 0;
  }
}

.d-none {
  display: none !important;
}

.is-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.hidden-backdrop {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  transition-duration: $dur-primary;
}

.hidden-modal {
  transform: translate(-50%, -50%) scale(0.9) !important;
  -webkit-transform: translate(-50%, -50%) scale(0.9) !important;
  -moz-transform: translate(-50%, -50%) scale(0.9) !important;
  -ms-transform: translate(-50%, -50%) scale(0.9) !important;
  -o-transform: translate(-50%, -50%) scale(0.9) !important;
  transition-duration: $dur-primary;
}

.opened-backdrop {
  opacity: 1;
  pointer-events: all;
  visibility: visible;
  transition-duration: $dur-primary;
}

.opened-modal {
  transform: translate(-50%, -50%) scale(1) !important;
  -webkit-transform: translate(-50%, -50%) scale(1) !important;
  -moz-transform: translate(-50%, -50%) scale(1) !important;
  -ms-transform: translate(-50%, -50%) scale(1) !important;
  -o-transform: translate(-50%, -50%) scale(1) !important;
  transition-duration: $dur-primary;
}