.hero {
  padding-top: 90px;
}

.container
{
  display: flex;
  flex-direction: column;

  @media screen and (min-width: $tablet) {

  }

  @media screen and (min-width: $desktop) {
    flex-direction: row;
    gap: 32px;
  }
}

.hero-text-wrap {
  width: 335px;

  @media screen and (min-width: $tablet) {
    width: 446px;
  }
}

.hero-title {
  font-family: "Inter", sans-serif;
  font-size: 26px;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 14px;
  line-height: 120%;

  .hero-item {
    font-style: oblique;
    font-weight: 400;
    color: $color-green;
  }

  @media screen and (min-width: $tablet) {
    font-size: 36px;
    margin-bottom: 16px;
  }
}

.hero-text {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 28px;
  line-height: 1.3em;

  @media screen and (min-width: $tablet) {
    font-size: 16px;
    margin-bottom: 32px;
  }
}

.hero-btn {
  width: 111px;
  height: 37px;
  font-size: 14px;
  border: 1px solid $color-green;
  background-color: $color-white;
  font-weight: 500;
  border-radius: 12px;
  margin-bottom: 48px;
  padding: 10px 20px;

  &:focus, &:hover {
    background-color: $color-green;
    color: $color-white;
}

  @media screen and (min-width: $tablet) {
    width: 127px;
    height: 45px;
    font-size: 15px;
    @include radius-15;

    margin-bottom: 64px;
  }
}

.hero-img-wrap {
  display: flex;
  width: 200px;
  height: 468px;

  @media screen and (min-width: $tablet) {
    width: 400px;
  }
}