.hero {
  max-width: 1280px;
  padding: 90px 100px 0 100px;
  overflow: hidden;
}

.hero-container {
  display: flex;
  flex-direction: column;
  width: 1400px;

  @media screen and (min-width: $desktop) {
    flex-direction: row;
    gap: 32px;
  }
}

.hero-text-wrap {
  width: 335px;

  @media screen and (min-width: $tablet) {
    width: 446px;
  }

  @media screen and (min-width: $desktop) {
    margin-top: 65px;
  }
}

.hero-title {
  font-family: "Inter", sans-serif;
  font-size: 26px;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 14px;
  line-height: 120%;

  .hero-item {
    font-style: oblique;
    font-weight: 400;
    color: $color-green;
  }

  @media screen and (min-width: $tablet) {
    font-size: 36px;
    margin-bottom: 16px;
  }
}

.dark-theme .hero-title {
  color: $color-white;
}

.hero-text {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 28px;
  line-height: 1.3em;

  @media screen and (min-width: $tablet) {
    font-size: 16px;
    margin-bottom: 32px;
    width: 408px;
  }
}

.dark-theme .hero-text {
  color: $color-white;
}

.hero-btn {
  width: 111px;
  height: 37px;
  font-size: 14px;
  border: 1px solid $color-green;
  background-color: $color-white;
  font-weight: 500;
  border-radius: 12px;
  margin-bottom: 48px;
  padding: 10px 20px;

  &:focus, &:hover {
    background-color: $color-green;
    color: $color-white;
  }

  @media screen and (min-width: $tablet) {
    width: 127px;
    height: 45px;
    font-size: 15px;
    @include radius-15;

    margin-bottom: 64px;
  }
}

.dark-theme .hero-btn {
  color: $color-white;
  background-color: $color-black;
}


//swiper style
.hero-img-wrap {
  display: flex;
  flex-direction: row;
  width: 871px; // 871
  height: 448px;
  //margin-left: 200px; // 0
  margin-bottom: 50px;

  @media screen and (min-width: $tablet) {
    //width: 400px;
  }
}

.swiper-slide-wrp {
  display: flex;
  gap: 16px;
}

.cook-card-wrap {
  width: 137px;
  height: 442px;

  .cook-card {
    @include radius-15;
    object-fit: cover;
  }
}

.dish-card-wrap {
  background-color: $color-black;
  @include radius-15;
  width: 351px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .dish-card {
    object-fit: contain;
    width: 262px;
    height: 262px;
    //margin-bottom: 32px;
  }

  .dish-name {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.16em;
    text-transform: uppercase;
    color: $color-white-50;
    margin-bottom: 8px;
  }

  .dish-area {
    font-size: 12px;
    color: $color-white-10;
  }
}

.dish-big-wrap {
  background-color: $color-black;
  @include radius-15;
  height: 442px;
  width: 351px;
  margin-right: 16px;
  overflow: hidden;

  .dish-big {
    display: block;
    height: 150%;
    //width: 200%;
    object-fit: cover;
    object-position: 50% 10%;
    //width: 1500px;
  }
}

.swiper-pagination {
  //position: ;
//  top: 10px;
//  right: 10px;
//  width: auto !important;
//  left: auto !important;
//  margin: 0;

  margin-top: 450px;
}