.order-now-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: rgba(46, 47, 66, 0.4);

  overflow: hidden;
  z-index: 2;
  background: rgba(22, 22, 22, 0.9);
}

.order-now-modal {
    display: flex;
    flex-direction: column;
    max-width: 320px;
    opacity: 1;
    padding: 28px 20px;
    background-color: $color-white;

    overflow: hidden;
    width: 335px;
    height: 582px;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .14), 0 1px 3px rgba(0, 0, 0, .12), 0 2px 1px rgba(0, 0, 0, .2);
    @include radius-15;

    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

.order-now-modal-title {
  margin: 0;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.2;
  text-transform: uppercase;
  color: $color-black;
  overflow: hidden;
}

@media screen and (min-width: 375px) {
  .order-now-modal-title {
    margin-bottom: 40px;
  }

  .order-now-modal-form input,
  textarea {
    width: 270px;
  }

  .order-now-modal-form textarea {
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 375px) {
  .order-now-modal-title {
    margin-bottom: 15px;
  }

  .order-now-modal-form input,
  textarea {
    width: 250px;
  }

  .order-now-modal-form textarea {
    margin-bottom: 15px;
  }
}

.order-now-modal-close-btn {
  position: absolute;
  top: 14px;
  right: 14px;
  cursor: pointer;
  background: none;
  border: none;
}

.order-now-modal-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
}

.order-now-modal-form label:not(:last-of-type) {
  margin-bottom: 16px;
}

.order-now-modal-form span {
  display: block;
  margin-bottom: 8px;
  font-size: 14px;
  line-height: 1.2;
  color: rgba(5, 5, 5, 0.5);
}

.order-now-modal-form-input {
  padding: 14px 18px;
  height: 43px;
  transition-duration: $dur-secondary;
}

.dark-theme .order-now-modal-form-input {
  color: $color-white;
}

.order-now-modal-form input,
  textarea {
  font-family: "Inter", sans-serif;
  border: 1px solid rgba(5, 5, 5, 0.2);

  @include radius-15;
}

.order-now-modal-form textarea {
  padding: 14px 18px;
  height: 100px;
  resize: none;
  transition-duration: $dur-secondary;
}

.order-now-modal-form textarea:hover,
.order-now-modal-form textarea:focus {
  border: 1px solid $color-green;
}

.dark-theme .order-now-modal-form textarea:is(:hover, :focus) {
  border: 1px solid $color-green;
  color: $color-white;
}

input {
  outline: none;
}

.comment-textarea {
  outline: none;
}

.order-now-modal-form button {
  font-family: "Inter", sans-serif;
  width: 100%;
  padding: 15px 0;
  font-size: 14px;
  border: none;
  border-radius: 15px;
  background: $color-green;
  color: $color-white;
  cursor: pointer;
  transition-duration: $dur-secondary;

  &:hover {
    box-shadow: inset 0 0 10px 10px $color-white-50;
  }
}

.order-now-modal-close-img {
  stroke: $color-black;
  transition-duration: $dur-secondary;
}

.order-now-modal-close-img:hover {
  stroke: $color-green;
}

@media screen and (max-width: 320px) {
  .order-now-modal {
    width: 100%;
  }

  .order-now-modal-form input,
  textarea {
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .order-now-modal-form input {
    width: 270px;
  }
}

@media screen and (min-width: 768px) {
  .order-now-modal {
    max-width: none;
    max-height: none;
    width: 440px;
    height: 632px;
    padding: 40px;
  }

  .order-now-modal-form input,
  textarea {
    width: 360px;
    border-radius: 15px;
    border: 1px solid rgba(5, 5, 5, 0.2);
  }

  .order-now-modal-form-input {
    height: 48px;
  }

  .order-now-modal-close-img {
    width: 24px;
    height: 24px;
  }
}

.order-now-modal-form-input:hover,
.order-now-modal-form-input:focus {
  border: 1px solid $color-green;
}

.dark-theme .order-now-modal-form-input:is(:hover, :focus) {
  border: 1px solid $color-green;
}

.dark-theme .order-now-modal-form input,
.dark-theme .order-now-modal-form textarea {
  background-color: rgba(5, 5, 5, 1);
  border-color: rgba(255, 255, 255, 0.2);
}

.dark-theme .order-now-modal-form input:focus,
.dark-theme .order-now-modal-form textarea:focus {
  border-color: $color-green;
  background-color: rgba(5, 5, 5, 1);
}

.dark-theme .order-now-modal-form span {
  color: rgba(255, 255, 255, 0.5);
}

.dark-theme .order-now-modal-form input::placeholder,
.dark-theme .order-now-modal-form textarea::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.dark-theme .order-now-modal,
.dark-theme .popup_modal,
.dark-theme .popup_scroll {
  background-color: $color-black;
}

.dark-theme .order-now-modal-close-img,
.dark-theme .order-now-modal-title {
  stroke: $color-white;
  color: $color-white;
}

.dark-theme .order-now-modal-close-img:hover {
  stroke: $color-green;
}