

.recipe-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background-color: rgba(5, 5, 5, 0.5);
  overflow: auto;
}

.modal {
  z-index: 100;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -40%);
  -webkit-transform: translate(-50%, -40%);
  -moz-transform: translate(-50%, -40%);
  -ms-transform: translate(-50%, -40%);
  -o-transform: translate(-50%, -40%);
  transition-duration: $dur-primary;
}
.recipe-content {
  width: 335px;
  padding: 40px 20px;
  border-radius: 15px;
  background-color: $color-white;

  @media screen and (min-width: $tablet) {
    width: 531px;
    padding: 32px;
  }
}
.dark-theme .recipe-content{
  background-color: $color-black;

}

.recipe-btn-close {
  cursor: pointer;
  position: fixed;
  border: none;
  float: right;
  font-size: 12px;
  font-weight: 700;
  top: 14px;
  right: 14px;
  background-color: $color-white;

  &:is(:hover, :focus) .reciepe-close-icon {
    stroke: $color-green;
  }
}
.dark-theme .recipe-btn-close{
  background-color: $color-black;
}

.recipe-backdrop.visible .recipe-content {
  opacity: 1;
  transition-delay: 300ms;
}

.reciepe-close-icon {
  stroke: $color-black;
  transition-duration: $dur-secondary;
}
.dark-theme .reciepe-close-icon{
  stroke: $color-white;
}

.modal-recipe-btn {
  column-gap: 14px;
  display: flex;
}

.favorite-btn {
  background-color: $color-green;
  color: $color-white;
  border: $color-green;
  font-family: Inter;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: normal;
  border-radius: 15px;
  padding: 12px 24px;
  font-size: 14px;
  &:focus, &:hover {

    color: $color-black;
  }
}

.give-rating-btn {
  color: $color-black;
  border: 1px solid $color-green;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 15px;
  padding: 12px 24px;
  font-size: 14px;
  font-weight: 500;
}

.dark-theme .give-rating-btn{
  color: $color-white;
}

.video-title{
  display: flex;
  flex-direction: column;

}




.recipe-video {
  border-radius: 8px;
  width: 295px;
  height: 295px;
  margin-bottom: 20px;
  @media screen and (min-width: $tablet) {
    margin-bottom: 16px;
   }


  @media screen and (min-width: $tablet) {
    width: 467px;
     height: 250px;
  }
}
.recipe-container {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  @media screen and (min-width: $tablet) {
    margin-top: 0;
  }
}
.video-title{
  display: flex;
  flex-direction: column;
}

.modal-recipe-title {
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: calc(24 / 18);
  text-transform: uppercase;
  color: $color-black;
  margin-bottom: 14px;
  @media screen and (min-width: $tablet) {
    margin-bottom: 16px;
   order: -1;
  }

  }

.dark-theme .modal-recipe-title{
  color: $color-white;
}

.modal-recipe-cooking {
  display: flex;
  gap: 16px;
  margin-bottom: 32px;
  align-items: center;
  justify-content:space-between;

}
.modal-recipe-rating {
  color: rgba(5, 5, 5, 0.5);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: calc(18 / 14);
  display: flex;
  gap: 6px;
}
.dark-theme .modal-recipe-rating{
  color: rgba(255, 255, 255, 0.50);
}

.modal-recipe-time {
  color: rgba(5, 5, 5, 0.5);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: calc(18 / 14);

}

.dark-theme .modal-recipe-time {
  color: rgba(255, 255, 255, 0.50);
}

.overflow-scroll {
  height: 250px;
  overflow-y: auto;
  margin-bottom: 40px;

  @media screen and (min-width: $tablet) {
    margin-bottom: 32px;
  }

 }
 .overflow-scroll::-webkit-scrollbar{
  width: 8px;

 }

.overflow-scroll::-webkit-scrollbar-thumb {
  background-color: $color-green;
  border-radius: 10px;

}


.modal-ingredients {
  flex-wrap: wrap;
  row-gap: 24px;
  display: flex;
}

.list-item-recipe {
  width: 280px;
  flex-wrap: wrap;
  gap: 14px;
  justify-content: space-between;
  display: flex;
  position: relative;
  @media screen and (min-width: $tablet) {
    width: 450px;

  }
}
.modal-recipe-ingredients {
  color: $color-black;
  font-size: 14px;
  line-height: calc(18 / 14);
}
.dark-theme .modal-recipe-ingredients{
  color: rgba(255, 255, 255, 0.50);
}

.modal-recipe-measure {
  color: rgba(5, 5, 5, 0.5);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: calc(18 / 14);
}

.dark-theme .modal-recipe-measure{
  color: rgba(255, 255, 255, 0.50);
}

.list-item-recipe::after {
  content: '';
  width: 100%;
  border: 1px solid rgba(5, 5, 5, 0.1);
  position: absolute;
  bottom: -10px;
  left: 0;
}
.dark-theme .list-item-recipe::after{
  border: 1px solid rgba(255, 255, 255, 0.10);
}

.modal-recipe-tag{
  flex-wrap: wrap;
  gap: 10px 8px;
  margin-bottom: 24px;
  display: flex;
  @media screen and (min-width: $tablet) {
    order: -1;
   }
}

.recipe-tag-item {
  color: $color-black;
  border-radius: 35px;
  border: 1px solid rgba(5, 5, 5, 0.2);
  padding: 8px 16px;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: calc(14 / 12);
 }
 .dark-theme .recipe-tag-item{
  color: $color-white;
  border: 1px solid rgba(255, 255, 255, 0.20);
}


.modal-recipe-text{
  width: 295px;
  color: rgba(5, 5, 5, 0.80);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: calc(18 / 14);
  margin-bottom: 40px;
  max-height: 100px;
  overflow: auto;
  text-overflow: ellipsis;

  @media screen and (min-width: $tablet) {
  width: 467px;
  margin-bottom: 32px;
  }

  @include scrollbar-primary
}

.dark-theme .modal-recipe-text{
  color: $color-white-dark-theme-50;

  @include scrollbar-dark-theme;

}

