.categories {
  > button {
    padding: 13px 28px;
    border-radius: 15px;
    border: 1px solid rgba(5, 5, 5, 0.2);
    background-color: inherit;

    color: rgba(5, 5, 5, 0.5);
    font-family: inherit;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

    &:hover,
    &:focus,
    &.active-category {
      color: $color-white;
      background-color: $color-green;
      border-color: $color-green;
    }
    .dark-theme & {
      border-color: rgba(255, 255, 255, 0.2);
      color: $color-white;
    }
  }

  & ul {
    margin-top: 24px;
    height: 198px;
    overflow-y: scroll;
    @include scrollbar-primary;

    @media screen and (min-width: $tablet) {
      margin-top: 30px;
      width: 176px;
      height: 416px;
    }

    @media screen and (min-width: $desktop) {
      margin-top: 42px;
      width: 235px;
    }
  }

  .dark-theme & ul {
    @include scrollbar-dark-theme;
  }

  & li {
    list-style: none;
    margin: 0;
    padding: 0;

    &:not(:first-child) {
      margin-top: 24px;
    }

    & button {
      margin: 0;
      padding: 0;
      border: 0;
      background-color: inherit;
      gap: 24px;

      color: rgba(5, 5, 5, 0.3);
      font-family: inherit;
      font-size: 16px;
      font-weight: 500;
      line-height: 1.25;

      transition-duration: $dur-secondary;

      .dark-theme & {
        color: rgba(255, 255, 255, 0.3);
      }

      &:hover,
      &:focus,
      &.active-category {
        color: $color-green;
      }
    }
  }
}

.all-categories-btn {
  transition-duration: $dur-secondary;
}