.catalog-container {
  margin-top: 80px;

  @media screen and (min-width: $tablet) {
    display: flex;
    justify-content: center;
  }

  @media screen and (min-width: $desktop) {
    margin-top: 100px;
  }
}

.right-column {
  @media screen and (min-width: $tablet) {
    //margin-left: 32px;
  }

  @media screen and (min-width: $desktop) {
    //margin-left: 64px;
  }
}

.left-column {
  @media screen and (min-width: $tablet) {
    margin-top: 26px;
  }

  @media screen and (min-width: $desktop) {
    margin-top: 24px;
  }
}
