.section-popular-recipes {
  margin-top: 40px;
}

.popular-recipes-title {
  font-weight: 600;
  font-size: 18px;
  line-height: calc(24/18);
  margin-bottom: 20px;
}

.gallery-popular-recipes {
  flex-direction: column;
  gap: 24px;
  display: flex;
}

.popular-recipes-list {
  flex-flow: row;
  align-items: flex-start;
  display: flex;
  column-gap: 16px;
  cursor: pointer;
  border-radius: 8px;
  &:is(:hover, :focus) {
    scale: 1.01;
      -webkit-box-shadow: -12px 12px 5px 0px rgba(5, 5, 5, 0.30);
      -moz-box-shadow: -12px 12px 5px 0px rgba(5, 5, 5, 0.30);
      box-shadow: -12px 12px 5px 0px rgba(5, 5, 5, 0.30);
    }
        .dark-theme &:is(:hover, :focus) {
          scale: 1.01;
          -webkit-box-shadow: 0px 0px 35px -4px rgba(155, 181, 55, 1);
          -moz-box-shadow: 0px 0px 35px -4px rgba(155, 181, 55, 1);
          box-shadow: 0px 0px 35px -4px rgba(155, 181, 55, 1);
        }
}

.popular-img {
width:64px;
height: 64px;
border-radius: 8px;
}

.popular-title {
font-size: 14px;
font-weight: 600;
line-height: calc(18/14);
text-transform: uppercase;
margin-bottom: 8px;
text-overflow: ellipsis;
-webkit-line-clamp: 1;
line-clamp: 1;
-webkit-box-orient: vertical;
display: -webkit-box;
overflow: hidden;
}

.popular-recipes-text {
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
  font-size: 12px;
  line-height: calc(16/10);
  display: -webkit-box;
  overflow: hidden;
  color: $color-black-80;
}

 .dark-theme .popular-title {
  color: $color-white;
}

 .dark-theme .popular-recipes-text {
 color: $color-white-dark-theme-50;
}

.dark-theme .popular-recipes-title {
  color: $color-white;
}

@media screen and (min-width: $tablet) {

  .section-popular-recipes {
      margin-top: 64px;
      
    }

  .section-popular-recipes {
      margin-top: 64px;
    }

  .popular-recipes-title {
    margin-bottom: 32px;
  }

  .popular-recipes-text {
    font-size: 10px;
    line-height: calc(14/10);
  }

}

@media screen and (min-width: $tablet) and (max-width:$desktop){

  .gallery-popular-recipes {
    gap: 16px;
  }

  .popular-img {
    width: 48px;
    height: 48px;
  }

  .popular-recipes-list {
    column-gap: 8px;
  }

}

@media screen and (min-width: $desktop) {

.section-popular-recipes {
    margin-top: 40px;
  }

.gallery-popular-recipes {
    gap: 32px;
  }
}

