.wrap-recipes-list {
  position: relative;
  margin-top: 20px;
  margin-bottom: 40px;

  @media screen and (min-width: $tablet) {
    margin-top: 14px;
    margin-bottom: 64px;
  }
  .recipe-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;

    @media screen and (min-width: $tablet) {
      flex-direction: row;
      gap: 16px;
      flex-wrap: wrap;
    }
    @media screen and (min-width: $desktop) {
      gap: 20px 16px;
    }
  }
}
.recipe-item {
  border-radius: 8px;
  width: 335px;
  height: 335px;
  position: relative;
  overflow: hidden;
  transition-duration: $dur-primary;
  &:is(:hover, :focus) {
    scale: 1.01;
    -webkit-box-shadow: -12px 12px 5px 0px rgba(5, 5, 5, 0.30);
    -moz-box-shadow: -12px 12px 5px 0px rgba(5, 5, 5, 0.30);
    box-shadow: -12px 12px 5px 0px rgba(5, 5, 5, 0.30);
    }
  .dark-theme &:is(:hover, :focus) {
    -webkit-box-shadow: 0px 0px 35px -4px rgba(155,181,55,1);
    -moz-box-shadow: 0px 0px 35px -4px rgba(155,181,55,1);
    box-shadow: 0px 0px 35px -4px rgba(155,181,55,1);
  }

  @media screen and (min-width: $tablet) {
    width: 240px;
    height: 264px;
  }
  @media screen and (min-width: $desktop) {
    width: 250px;
    height: 287px;
  }
  .recipe-img {
    object-fit: cover;
  }
}
.recipe-wrap {
  position: absolute;
  top: 0;
  padding: 16px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: linear-gradient(1deg, rgba(5, 5, 5, 0.60) 0%,
  rgba(5, 5, 5, 0.00) 100%),
   transparent -25px -10px / 116.716% 114.018%
    no-repeat;

  .recipe-favorite-btn {
    display: block;
    margin-left: auto;
    background-color: transparent;
    border: 0px;
  }


  .recipe-name {
    color: $color-white;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.28;
    text-transform: uppercase;
    margin-bottom: 8px;

    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
  }
  .recipe-description {
    height: 32px;
    width: 303px;
    color: $color-white;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.33;
    margin-bottom: 16px;

    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;

    @media screen and (min-width: $tablet) {
      width: 208px;
    }
    @media screen and (min-width: $desktop) {
      width: 218px;
    }
  }
}
.dark-theme .recipe-wrap {
  background: linear-gradient(1deg, #050505 0%,
  rgba(5, 5, 5, 0.00) 100%),
   transparent -21.392px -15.958px / 120.272% 116.336%
   no-repeat;
}
.recipe-rating-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .recipe-rating {
    color: $color-white;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.28;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .recipe-stars-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 4px;
  }
  .recipe-see {
  display: flex;
  padding: 8px 14px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  color: $color-white;
  background-color: $color-green;
  border: 0px;

  font-family: "Inter";
  font-size: 12px;
  font-weight: 500;
  line-height: normal;
  transition-duration: $dur-primary;

  &:is(:hover, :focus) {
  color: $color-black;
  }
  }
}

.recipe-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 14px;
  @media screen and (min-width: $tablet) {
  gap: 24px;
  }
  .wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    @media screen and (min-width: $tablet) {
      gap: 8px;
    }
  }

}
.inner-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  @media screen and (min-width: $tablet) {
    gap: 10px;
  }
}

.pagination-btn {
  color: $color-black;
  font-family: "Inter";
  font-size: 18px;
  font-weight: 600;
  line-height: 1.22;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid rgba(5, 5, 5, 0.30);
  background-color: $color-white;
  transition-duration: $dur-primary;
  &:is(:hover, :focus) {
    border: 1px solid $color-green;
    background-color: $color-green;
  }
  @media screen and (min-width: $tablet) {
  width: 44px;
  height: 44px;
  }
}
.dark-theme .pagination-btn {
  color: $color-white;
  background-color: $color-darkgrey;
  border: 1px solid rgba(255, 255, 255, 0.30);
  &:is(:hover, :focus) {
    background-color: $color-green;
    border: 1px solid $color-green;
  }
}

.right-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  .right-icon-itm {
    stroke-width: 0;
    stroke: $color-black;
    fill: $color-black;
  }
}
.left-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  .left-icon-itm {
    stroke-width: 0;
    stroke: rgba(255, 255, 255, 0.5);
    fill: rgba(255, 255, 255, 0.5);;
  }
}
.left-wrap .pagination-btn {
  background-color: $color-black;
  border: 1px solid $color-black;
  &:is(:hover, :focus) {
    background-color: $color-black;
    border: 1px solid $color-green;
  }
}
.right-wrap .pagination-btn {
  background-color: $color-green;
  border: 1px solid $color-green;
  &:is(:hover, :focus) {
    border: 1px solid $color-black;
  }
}

.resipe-list-empty {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  @media screen and (min-width: $tablet) {
    margin-top: 20px;
    flex-direction: column;
    gap: 80px;
    }
}
.dark-theme .resipe-list-message {
  color: $color-white;
}
  .heart-icon {
    fill: transparent;
    opacity: 0.5;
    transition-duration: $dur-primary;
    &:is(:hover, :focus) {
    fill: $color-white;
    opacity: 1;
   }  
}
.added-heart-icon {
  fill: $color-white;
  opacity: 1;
}