//? Colors
$color-white: #f8f8f8;
$color-white-50: #f8f8f880;
$color-white-10: #f8f8f81a;
$color-black: #050505;
$color-black-80: #050505cc;
$color-black-50: #05050580;
$color-black-30: #0505054d;
$color-black-20: #05050533;
$color-black-10: #0505051a;
$color-black-shadow: #00000005;
$color-green: #9BB537;
$color-yellow: #EEA10C;
$color-grey: #D9D9D9;
$color-theme-switch-disabled: #CECDCD;
$color-white-dark-theme-50: #FFFFFF80;
$color-white-dark-theme-30: #FFFFFF4D;
$color-white-dark-theme-20: #FFFFFF33;
$color-white-dark-theme-10: #FFFFFF1A;
$color-darkgrey: #161616;
$dark-theme: #1e1e1e;

//? Breakpoints
$mobile: 375px;
$tablet: 768px;
$desktop: 1280px;

//? Transitions
$dur-primary: 300ms;
$dur-secondary: 150ms;
