//? Colors
$color-white: #F8F8F8;
$color-white-50: #F8F8F880;
$color-white-10: #F8F8F81A;
$color-black: #050505;
$color-black-80: #050505CC;
$color-black-50: #05050580;
$color-black-30: #0505054D;
$color-black-20: #05050533;
$color-black-10: #0505051A;
$color-black-shadow: #00000005;
$color-green: #9BB537;
$color-yellow: #EEA10C;
$color-grey: #D9D9D9;
$color-theme-switch-disabled: #CECDCD;

//? Breakpoints
$mobile: 375px;
$tablet: 768px;
$desktop: 1280px;

//? Transitions
$dur-primary: 300ms;
$dur-secondary: 150ms;
