//? Colors
$color-white: #f8f8f8;
$color-white-50: #f8f8f880;
$color-white-20: #F8F8F833;
$color-white-10: #f8f8f81a;
$color-black: #050505;
$color-black-80: #050505cc;
$color-black-50: #05050580;
$color-black-30: #0505054d;
$color-black-20: #05050533;
$color-black-10: #0505051a;
$color-black-shadow: #00000005;
$color-green: #9bb537;
$color-yellow: #eea10c;
$color-grey: #d9d9d9;
$color-theme-switch-disabled: #cecdcd;
$color-white-dark-theme-50: #ffffff80;
$color-white-dark-theme-30: #ffffff4d;
$color-white-dark-theme-20: #ffffff33;
$color-white-dark-theme-10: #ffffff1a;
$color-darkgrey: #161616;

//? Breakpoints
$mobile: 375px;
$tablet: 768px;
$desktop: 1280px;

//? Transitions
$dur-primary: 300ms;
$dur-secondary: 150ms;
