<div class="container">
  <div class="favorites-instead">
    <div class="instead-container">
      <div class="favorites-divSvg">
        <svg class="favorites-svg phone-favorites-svg" width="68" height="58">
          <use href="images/sprite.svg#icon-hat"></use>
        </svg>
        <svg class="favorites-svg tablet-favorites-svg" width="97" height="83">
          <use href="images/sprite.svg#icon-hat"></use>
        </svg>
      </div>
      <div class="hatDescroiption-div">
        <p class="hatDescroiption">
          It appears that you haven't added any recipes to your favorites yet.
          To get started, you can add recipes that you like to your favorites
          for easier access in the future.
        </p>
      </div>
    </div>
  </div>
</div>
