<section class="favorites-hero" data-aos="fade-up">
  <div class="favorites-conteiner">
    <div class="favorites-heroImg">
      <picture>
        <source
          media="(min-width: 1280px)"
          srcset="images/favorites/1080.jpg 1x, images/favorites/2160.jpg 2x"
        />
        <source
          media="(min-width: 768px)"
          srcset="images/favorites/704.jpg 1x, images/favorites/1408.jpg 2x"
        />
        <source
          media="(min-width: 375px)"
          srcset="images/favorites/335.jpg 1x, images/favorites/670.jpg 2x"
        />
        <img class="favorites-img" src="images/favorites/335.jpg" alt="dish" />
      </picture>
    </div>
  </div>
</section>
