<footer>
    <div class="container">
        <div class="">

    <!-- <a href="" class="footer-link">
        <span>© 2023 | All with love |GoIT Students</span></a>  -->
        <button>
            <!-- <a id="openModalLink" href="#">© 2023 | All with love |GoIT Students</a> -->
            <span id="openModalLink3">© 2023 | All with love |GoIT Students</span>
        </button>
        <div id="modal3" class="modal-footer">
            <div class="modal-content-footer">
                <span class="close3">&times;</span>
                <h2>Список людей</h2>
                <ul id="peopleList">
                    <li>Иван Иванов</li>
                    <li>Анна Порошенко</li>
                    <li>Петр Петров</li>
                    <!-- Добавьте сюда свои данные -->
                </ul>
            </div>
        </div>
</div>
</div>
</footer>
