<header class="header">
  <div class="container header-container">
    <nav class="header-nav">
      <ul class="nav-list list">
        <li class="nav-item">
          <a href="./index.html" id="home-link" class="nav-list-item link"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a
            href="./favorites.html"
            id="favorites-link"
            class="nav-list-item link"
            >Favorites</a
          >
        </li>
      </ul>
    </nav>
    <a href="./index.html" class="logo link"><span>tasty</span>treats</a>
    <div class="header-buttons">
      <button
        type="button"
        class="header-order-btn btn"
        aria-expanded="false"
        aria-label="order now"
      >
        <svg width="24px" height="24px">
          <use href="./images/sprite.svg#icon-cart"></use>
        </svg>
      </button>
      <button
        type="button"
        class="header-menu-btn btn js-open-menu"
        aria-expanded="false"
        aria-controls="mobile-menu"
        aria-label="open mobile menu"
      >
        <svg width="32px" height="32px">
          <use href="./images/sprite.svg#icon-burger"></use>
        </svg>
      </button>
      <label id="theme-switcher" class="checkbox-theme">
        <input type="checkbox" />
        <span></span>
      </label>
    </div>
    <!-- ==== Mobile menu =========== -->
    <load ="./mobile-menu.html" />
    <!-- ========================================== -->
  </div>
</header>
