<section class='hero container'>
  <div class='hero-container'>
    <div class='hero-text-wrap'>
      <h1 class='hero-title'>
        Learn to Cook <span class='hero-item'>Tasty Treats'</span> Customizable Masterclass
      </h1>
      <p class='hero-text'>
        TastyTreats - Customize Your Meal with Ingredient Options and Step-by-Step Video Guides.
      </p>
      <button class='hero-btn' type='submit'>Order now</button>
    </div>
    <div class='hero-img-wrap'>
      <div class='swiper'>
        <div class='swiper-wrapper'><!-- Slides --></div>
        <div class='pagination swiper-pagination'></div>
      </div>
    </div>
  </div>
</section>
