<section class="hero container">
  <div class="hero-container">
    <div class="hero-text-wrap">
      <h1 class="hero-title" data-aos="fade-right">
        Learn to Cook <span class="hero-item">Tasty Treats'</span> Customizable
        Masterclass
      </h1>
      <p class="hero-text" data-aos="fade-right">
        TastyTreats - Customize Your Meal with Ingredient Options and
        Step-by-Step Video Guides.
      </p>
      <button
        class="hero-btn"
        type="button"
        data-aos="fade-right"
        data-aos-duration="1500"
      >
        Order now
      </button>
    </div>
    <div class="hero-img-wrap" data-aos="fade-left">
      <div class="swiper">
        <div class="swiper-wrapper"></div>
        <div class="pagination swiper-pagination"></div>
      </div>
    </div>
  </div>
</section>
