<div><h1 class="test-recipe-popup">RECIPE POPUP</pc></div>

  
     

     <button class="open" type="button">Open</button>

    <div class="recipe-backdrop" id="modalBackdrop">
        <div id="modal-recipe" class="modal recipe-content">
            <!-- <div class="recipe-content"> -->
                <button class="recipe-btn-close">
                    <svg width="14" height="14" class="reciepe-close-icon">
                        <use href="images/sprite.svg#icon-x"></use>
                      </svg>
                </button>
                <div class="markUp"></div>
                <div class="modal-recipe-btn">
                    <button type="button" class="favorite-btn">Add to favorite</button>
                    <button type="button" class="give-rating-btn">Give a rating</button>
                <!-- </div> -->
                
            </div>
        </div>
    </div>

 