<div class="recipe-backdrop hidden-backdrop" id="modalBackdrop">
  <div id="modal-recipe" class="modal recipe-content hidden-modal">
    <button type="button" class="recipe-btn-close" aria-label="Close modal">
      <svg width="14" height="14" class="reciepe-close-icon">
        <use href="public/sprite.svg#icon-x"></use>
      </svg>
    </button>
    <div class="markUp"></div>
    <div class="modal-recipe-btn">
      <button type="button" class="favorite-btn" data-is-favorite="false">
        Add to favorite
      </button>
      <button type="button" class="give-rating-btn">Give a rating</button>
    </div>
  </div>
</div>

<!-- <p class="modal-recipe-rating">${
  recipeData.rating
} <svg class="modal-stars-icon" width="84" height="18"><use class="stars-icon" href="public/sprite.svg#icon-${Math.round(
recipeData.rating - 0.1
)}-stars"></use></svg>
</span></p> -->
<!--
<span class="recipe-stars">
  <svg class="modal-stars-icon" width="84" height="18"><use class="stars-icon" href="${sprite}#icon-${Math.round(
rating - 0.1
)}-stars"></use></svg>
  </span>
  <span></span> -->
