@import './scss/common/reset';
@import './scss/common/global';
@import './scss/common/typography';
@import './scss/utilities/mixins';
@import './scss/utilities/variables';
@import './scss/partials/header';
@import './scss/partials/hero';
@import './scss/partials/catalog/catalog';
@import './scss/partials/catalog/category-filter';
@import './scss/partials/catalog/popular-recipes';
@import './scss/partials/catalog/recipes-list';
@import './scss/partials/catalog/search-filter';
@import './scss/partials/favorites-page';
@import './scss/partials/mobile-menu';
@import './scss/partials/recipe-popup';
@import './scss/partials/order-popup';
@import './scss/partials/rating-popup';
@import './scss/partials/footer';
@import './scss/partials/dark-theme';
@import './scss/utilities//sweetalert';
@import './scss/partials/scrollup-btn';
