<div class="wrap-recipes-list">
  <ul class="recipe-list" data-aos="fade-up"></ul>
  <span class="loader d-none"></span>
  <div class="resipe-list-empty is-hidden">
    <p class="resipe-list-message">
      There is no recipes right here. Please try again later!
    </p>
    <svg class="message-icon" width="97" height="83">
      <use href="/sprite.svg#icon-hat"></use>
    </svg>
  </div>
</div>
<div class="recipe-pagination" data-aos="fade-up">
  <div class="wrap left-wrap">
    <button
      type="button"
      aria-label="first-page"
      class="first-page pagination-btn"
    >
      <svg class="left-icons" height="24" width="24">
        <use
          class="left-icon-itm"
          href="/sprite.svg#icon-angle-double-left"
        ></use>
      </svg>
    </button>
    <button
      type="button"
      aria-label="previous page"
      class="previous-page pagination-btn"
    >
      <svg class="left-icons" height="24" width="24">
        <use class="left-icon-itm" href="/sprite.svg#icon-angle-left"></use>
      </svg>
    </button>
  </div>
  <div class="inner-wrap">
    <button
      type="button"
      class="current-page-1 pagination-btn current-pagi-page"
    >
      1
    </button>
    <button type="button" class="page-2 pagination-btn is-hidden">2</button>
    <button type="button" class="page-3 pagination-btn is-hidden">3</button>
    <button
      type="button"
      aria-label="more pages"
      class="page-5 pagination-btn is-hidden"
    >
      ...
    </button>
  </div>
  <div class="wrap right-wrap">
    <button
      type="button"
      aria-label="next page"
      class="next-page pagination-btn"
    >
      <svg class="right-icons" height="24" width="24">
        <use class="right-icon-itm" href="/sprite.svg#icon-angle-right"></use>
      </svg>
    </button>
    <button
      type="button"
      aria-label="last page"
      class="last-page pagination-btn"
    >
      <svg class="right-icons" height="24" width="24">
        <use
          class="right-icon-itm"
          href="/sprite.svg#icon-angle-double-right"
        ></use>
      </svg>
    </button>
  </div>
</div>
