<div class="temporary-container container">
  <div class="search-filter">
    <div class="search-input-container">
      <label class="search-label" for="search">Search</label>
      <input
        type="text"
        class="search-input"
        placeholder="Enter Text"
        name="search"
        id="search"
        autocomplete="off"
      />
      <svg width="18" height="18" class="search-icon">
        <use href="images/sprite.svg#icon-search"></use>
      </svg>
    </div>
    <div class="extra-wrapper">
      <ul class="extra-filters-list">
        <li class="extra-filters-item">
          <p class="search-label">Time</p>
          <div class="extra-select">
            <div class="extra-default">
              <div class="selected-option">40 min</div>
              <svg width="18" height="18" class="arrow-down">
                <use href="images/sprite.svg#icon-arrow-down"></use>
              </svg>
            </div>
            <ul class="extra-options-list">
              <li class="extra-options-item">Option 1</li>
              <li class="extra-options-item">Option 2</li>
              <li class="extra-options-item current-option">Option 3</li>
              <li class="extra-options-item">Option 4</li>
              <li class="extra-options-item">Option 5</li>
              <li class="extra-options-item">Option 6</li>
              <li class="extra-options-item">Option 7</li>
              <li class="extra-options-item">Option 8</li>
            </ul>
          </div>
        </li>
        <li class="extra-filters-item">
          <p class="search-label">Area</p>
          <div class="extra-select">
            <div class="extra-default">
              <div class="selected-option">Italian</div>
              <svg width="18" height="18" class="arrow-down">
                <use href="images/sprite.svg#icon-arrow-down"></use>
              </svg>
            </div>
            <ul class="extra-options-list">
              <li class="extra-options-item">Option 1</li>
              <li class="extra-options-item">Option 2</li>
              <li class="extra-options-item current-option">Option 3</li>
              <li class="extra-options-item">Option 4</li>
              <li class="extra-options-item">Option 5</li>
              <li class="extra-options-item">Option 6</li>
              <li class="extra-options-item">Option 7</li>
              <li class="extra-options-item">Option 8</li>
            </ul>
          </div>
        </li>
        <li class="extra-filters-item">
          <p class="search-label">Ingredients</p>
          <div class="extra-select">
            <div class="extra-default">
              <div class="selected-option">Tomato</div>
              <svg width="18" height="18" class="arrow-down">
                <use href="images/sprite.svg#icon-arrow-down"></use>
              </svg>
            </div>
            <ul class="extra-options-list">
              <li class="extra-options-item">Option 1</li>
              <li class="extra-options-item">Option 2</li>
              <li class="extra-options-item current-option">Option 3</li>
              <li class="extra-options-item">Option 4</li>
              <li class="extra-options-item">Option 5</li>
              <li class="extra-options-item">Option 6</li>
              <li class="extra-options-item">Option 7</li>
              <li class="extra-options-item">Option 8</li>
            </ul>
          </div>
        </li>
      </ul>
      <div class="reset-btn-container">
        <button type="button" class="reset-btn">
          <svg width="16" height="16" class="reset-icon">
            <use href="images/sprite.svg#icon-cross"></use>
          </svg>
          <span class="reset-text">Reset the filter</span>
        </button>
      </div>
    </div>
  </div>
</div>
